.App {
  text-align: center;
}
body{
  background-color: #333;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
  z-index: 2;
  overflow: hidden;
}
a{
  text-decoration: none;
}
img{
  position: sticky;
  height:100%;
  width:100%;
  z-index: 1;
  opacity: 0.3;
}
#top{
  position: relative;
  z-index: 2;
  top: -65vw;
}

.pagination{
  text-decoration: none;
}
.cityname{
    font-size: 1.5rem;
}

.degrees{
  font-size: 5rem;
  font-weight: 500;
}
.lead{
    font-size: 1.25rem;
    font-weight: 300;
}
.nav-masthead .nav-link {
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}
.nav-link:hover{
  border-bottom-color: rgba(255, 255, 255, .5);
}
.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}
